.filmes {
    display: grid;
    grid-gap: 15px;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.filme-1 {
    display: flex;
    align-items: center;
    width: fit-content;
    font-size: small;
    flex-direction: column;
    border: 5px solid;
    border-color: hsl(0, 100%, 50%);
    border-style: dotted;
    padding: 12px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}


.filme-2 {
    display: flex;
    align-items: center;
    width: fit-content;
    font-size:small;
    flex-direction: column;
    border: 5px solid;
    border-color: hsl(0, 100%, 50%);
    border-style: dotted;
    padding: 12px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;

}

.filme-3 {
    display: flex;
    align-items: center;
    width: fit-content;
    font-size:small;
    flex-direction: column;
    border: 5px solid;
    border-color: hsl(0, 100%, 50%);
    border-style: dotted;
    padding: 12px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.filme-4 {
    width: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 5px solid;
    border-color: hsl(0, 100%, 50%);
    border-style: dotted;
    padding: 12px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}