<div class="filmes">
    
    <div class="filme-1">
     <img src="assets/img/o-auto-da-compadecida.jpg">
     <br>
     {{filme.infos.filme1}}
    </div>


    <div class="filme-2">
      <img src="assets/img/cidade-de-deus.jpg">
      <br>
      {{filme.infos.filme2}}
    </div>


    <div class="filme-3">
      <img src="assets/img/estomago.jpg">
      <br>
     {{filme.infos.filme3}}
    </div>

    <div class="filme-4">
      <img src="assets/img/a-hora-da-estrela.jpg">
      <br>
      {{filme.infos.filme4}}
    </div>
    
</div>

